@import '~node_modules/modern-normalize/modern-normalize.css';

.main-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .main-container {
        width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .main-container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .main-container {
        width: 1200px;
    }
}