.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyrights {
    text-align: center;
}

.horizontal-line {
    height: 0.5px;
    background-color: var(--main-text-color);
    border: none;
}