.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
}

.navlist {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navitem {
    font-size: small;
    font-weight: bold;
}

.socials {
    text-decoration: none;
    stroke: currentColor;
    fill: currentColor;
}

.socials-list {
    text-decoration: none;
    stroke: currentColor;
    fill: currentColor;
    text-decoration: none;
}

.social-icon {
    text-decoration: none;
    stroke: currentColor;
    fill: currentColor;
}

.social-svg {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}