.section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.order-bait {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 100px;
    }
}

.order-bait-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.section-wrap {
    width: 300px;

    @media screen and (min-width: 768px) {
        width: 750px;
    }
}

.section-title {
    @media screen and (min-width: 1200px) {
        font-size: x-large;
    }

}

.main-text {
    font-size: medium;
    font-weight: 500;

    @media screen and (min-width: 1200px) {
        font-size: large;
    }
}

.main-button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: var(--main-text-color);
    color: white;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: background-color var(--transition);

    &:hover,
    &:focus {
        background-color: var(--main-text-accent);
    }
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 100px;
    }
}

.about-me-img {
    width: 250px;
    height: 250px;
}

.section-pic-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}