.seminars-background {
    background-image: url("../images/seminars/sem1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 150px;

    @media screen and (min-width: 768px) {
        width: 750px;
        height: 375px;
    }

    @media screen and (min-width: 1200px) {
        width: 1150px;
        height: 575px;
    }
}