<!DOCTYPE html>
<html lang="uk">

<head>
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Олексій Страшний - біографія</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="./images/favicon/site.webmanifest" /> -->
    <!-- <link rel="stylesheet" href="./sass/index.scss" />
    <script src="./index.js" type="module"></script> -->
</head>

<body>
    <div class="main-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ratione non adipisci recusandae omnis beatae,
        ipsum, mollitia dicta explicabo quisquam dolor fuga quaerat dolore, neque corrupti libero asperiores? Facere,
        dolor! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita maiores asperiores commodi ducimus sed
        quae excepturi nesciunt magni? Natus sit voluptas inventore earum aliquid ut alias debitis ratione ullam
        voluptatum!Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, dicta minima exercitationem
        non magnam corporis officia necessitatibus reprehenderit quae, eos quas dolores aliquid optio debitis natus
        voluptates quis. Est, ratione.
    </div>
</body>

</html>