<hr class="horizontal-line">
<footer class="footer">
    <div class="socials">
        <ul class="socials-list">
            <li class="socials-icon"><a href="https://www.youtube.com/@strashnaya_ribalka/featured" target="_blank"
                    rel="noopener noreferrer" title="YouTube">
                    <svg class="social-svg" width="20" height="20">
                        <use href="./images/svg/sprite.svg#youtube"></use>
                    </svg></a>
            </li>
            <li class="socials-icon"> <a href="https://www.facebook.com/Alex.Strashnyi/" target="_blank"
                    rel="noopener noreferrer" title="Facebook">
                    <svg class="social-svg" width="20" height="20">
                        <use href="./images/svg/sprite.svg#facebook"></use>
                    </svg></a>
            </li>
            <li class="socials-icon"> <a href="https://www.instagram.com/strashnyifishing/" target="_blank"
                    rel="noopener noreferrer" title="Instagram">
                    <svg class="social-svg" width="20" height="20">
                        <use href="./images/svg/sprite.svg#instagram"></use>
                    </svg></a>
            </li>
            <li class="socials-icon"> <a href="https://www.tiktok.com/@strashnyifishing" target="_blank"
                    rel="noopener noreferrer" title="TikTok">
                    <svg class="social-svg" width="20" height="20">
                        <use href="./images/svg/sprite.svg#tiktok"></use>
                    </svg></a>
            </li>
            <li class="socials-icon"> <a href="https://xn--m1aaxj.com/" target="_blank" rel="noopener noreferrer"
                    title="нхнч.com">
                    <svg class="social-svg" width="20" height="20">
                        <use href="./images/svg/sprite.svg#nxnc"></use>
                    </svg></a>
            </li>
    </div>
    <div class="email">
        <a href="mailto:astrashny1991@gmail.com?subject=Лист від ..." title="написати на e-mail">Написати на електронну
            пошту</a>
    </div>
    <div class="copyrights">
        <p>Сopyright © 2023 Олексій Страшний - персональна сторінка. Всі права захищені.</p>
    </div>
</footer>