<header class="header">
    <div class="header-image"><a href="./index.html" target="_blank" rel="noopener noreferrer">
            <img src="./images/favicon/android-chrome-512x512.png" alt="логотип" width="100" height="100"></a>
    </div>
    <nav class="nav">
        <ul class="navlist">
            <li class="navitem">
                <a href="#">Біографія</a>
            </li>
            <li class="navitem">
                <a href="#">Статті</a>
            </li>
            <li class="navitem">
                <a href="#">Семінари</a>
            </li>
            <li class="navitem">
                <a href="#">Риболовні тури</a>
            </li>
            <li class="navitem">
                <a href="#">Спільна риболовля</a>
            </li>
            <li class="navitem">
                <a href="#">Замовити тваринні компоненти</a>
            </li>
            <li class="navitem">
                <a href="#">Купити відеокурс</a>
            </li>
        </ul>
    </nav>
</header>