<div class="swiper-container">
    <div class="swiper-wrapper">
        <p class="swiper-slide red text">Swiper Slide1</p>
        <p class="swiper-slide green text">Swiper Slide2</p>
        <p class="swiper-slide blue text">Swiper Slide3</p>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>

</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <p class="swiper-slide red text">Swiper Slide1</p>
        <p class="swiper-slide green text">Swiper Slide2</p>
        <p class="swiper-slide blue text">Swiper Slide3</p>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>

</div>