<div class="socials">
    <ul class="socials-list">
        <li class="social-icon" <a href="#">
            <svg class="social-svg" width="20" height="20">
                <use href="./images/svg/sprite.svg#youtube"></use>
            </svg></a>
        </li>
        <li class="social-icon" <a href="#">
            <svg class="social-svg" width="20" height="20">
                <use href="./images/svg/sprite.svg#facebook"></use>
            </svg></a>
        </li>
        <li class="social-icon" <a href="#">
            <svg class="social-svg" width="20" height="20">
                <use href="./images/svg/sprite.svg#instagram"></use>
            </svg></a>
        </li>
        <li class="social-icon" <a href="#">
            <svg class="social-svg" width="20" height="20">
                <use href="./images/svg/sprite.svg#tiktok"></use>
            </svg></a>
        <li class="social-icon" <a href="#">
            <svg class="social-svg" width="20" height="20">
                <use href="./images/svg/sprite.svg#nxnc"></use>
            </svg></a>
        </li>
        </li>
    </ul>
</div>