<div class="section">
    <div class="order-bait">
        <img class="order-bait-img" src="./images/main/bait.jpg" alt="bait">
        <div class="order-bait-wrap">
            <h2 class="section-title">ЗАМОВИТИ ТВАРИННІ КОМПОНЕНТИ</h2>
            <p class="main-text">Одним з ключових факторів успішної рыболовлі є свіжа наживка.
                Мотиль, опариш, пінка, кенійка, черв'як, дендробена, хробак, кормовий мотиль, варена конопля и інше Ви
                отримаєте з перших рук від виробника!Не витрачайте свій дорогоцінний час і кошти в пошуках наживки!
                Зробіть замовлення за 5 хвилин і отримайте його через 24 години!</p>
            <a href="https://xn--m1aaxj.com/Home/BaitOrder" target="_blank" rel="noopener noreferrer"><button
                    class="main-button">ЗАМОВИТИ</button></a>
        </div>
    </div>

</div>